[submodule "exercise-sc/rpsgame-contract/lib/forge-std"]
	path = exercise-sc/rpsgame-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "exercise-sc/rpsgame-contract/lib/openzeppelin-contracts"]
	path = exercise-sc/rpsgame-contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
